<component name="libraryTable">
  <library name="spring-boot-starter-data-jpa-2.1.1.RELEASE">
    <ANNOTATIONS>
      <root url="jar://$PROJECT_DIR$/../../additional files/spring-boot-starter-data-jpa-2.1.1.RELEASE.jar!/" />
    </ANNOTATIONS>
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../additional files/spring-boot-starter-data-jpa-2.1.1.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC>
      <root url="jar://$PROJECT_DIR$/../../additional files/spring-boot-starter-data-jpa-2.1.1.RELEASE.jar!/" />
    </JAVADOC>
    <NATIVE>
      <root url="jar://$PROJECT_DIR$/../../additional files/spring-boot-starter-data-jpa-2.1.1.RELEASE.jar!/" />
    </NATIVE>
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/../../additional files/spring-boot-starter-data-jpa-2.1.1.RELEASE.jar!/" />
    </SOURCES>
    <jarDirectory url="jar://$PROJECT_DIR$/../../additional files/spring-boot-starter-data-jpa-2.1.1.RELEASE.jar!/" recursive="false" />
    <jarDirectory url="jar://$PROJECT_DIR$/../../additional files/spring-boot-starter-data-jpa-2.1.1.RELEASE.jar!/" recursive="false" type="SOURCES" />
  </library>
</component>